.minhaModal {
  width: 350px;
  height: 250px;
  border: 1px solid green;
  border-radius: 20px;
  background-color: greenyellow;
  text-align: center;
  align-items: center;
  position: fixed;
  top: 200px;
  left: 500px;
}

.tituloModal {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
