<p>Cards Livros</p>

<!-- <div class="container">
  <div class="row">
    <div class="col-8">
      <div class="formulario">
        <form [formGroup]="form" >
          <div class="row mb-3">
            <label class="col-form-label">Nome do Livro:</label>
            <div>
              <input type="text" class="form-control" id="nome" formControlName="nome" >
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-form-label">Autor do Livro:</label>
            <div>
              <input type="text" class="form-control" id="autor" formControlName="autor" >
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-form-label">Gênero:</label>
            <div>
              <input type="text" class="form-control" id="genero" formControlName="genero" >
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-form-label">Link imagem</label>
            <div>
              <input type="text" class="form-control" id="foto" formControlName="foto" >
            </div>
          </div>

          <div *ngIf="verificarStatus; then cadastrar else alterar"></div>

          <ng-template #cadastrar>
          <button  class="btn btn-outline-success mx-1" (click)="salvarLivro()" >cadastrar</button>
          </ng-template>

          <ng-template #alterar>
          <button class="btn btn-outline-warning mx-1" (click)="salvarLivro()" >Alterar</button>
          </ng-template>
          <button class="btn btn-outline-danger mx-1" routerLink="/lista" >Cancelar</button>
        </form>
      </div>
    </div>
    <div class="col-3">
      <div class="foto">

      </div>
    </div>

  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="formulario">
        <!-- é um bainding que insere um grupo de dados atraves desta
          os inputs que fazem parte deste grupo, por isto tem  que ter o "formcontrolname" variavel e neste caso nossos formularios precisa identificar quais  -->
        <form [formGroup]="form">
          <div class="row mb-3">
            <label class="col-form-label">Nome do Livro:</label>
            <div>
              <input type="text" class="form-control" id="nome" formControlName="nome">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-form-label">Autor do Livro:</label>
            <div>
              <input type="text" class="form-control" id="autor" formControlName="autor">
            </div>
          </div>
          <div class="row mb-3">
            <label class="col-form-label">Link da imagem:</label>
            <div>
                <input type="text" class="form-control" id="foto" formControlName="foto">
            </div>
        </div>
          <div *ngIf="verificarStatus;then cadastrar else alterar"></div>
            <ng-template #cadastrar><button class="btn btn-danger mx-1" (click)="salvarLivro()">Cadastrar</button></ng-template>
            <ng-template #alterar><button class="btn btn-danger mx-1" (click)="salvarLivro()">Salvar</button></ng-template>

          <button type="reset" class="btn btn-outline-danger mx-1" routerLink="/lista">Cancelar</button>
        </form>
      </div>
    </div>
    <div class="col-3">
      <div class="foto">

      </div>
    </div>

  </div>
</div>

<div *ngIf = "isModal">
  <div class="minhaModal">
    <div class="tituloModal bg-dark text-white pt-2 pb-1 mb-3">
     </div>
    <h4 class="mb-4">Novo livro cadastrado</h4>
    <h5 class="mb-4">Verifique as páginas de cards</h5>
    <button class="btn btn-dark mx-1" (click)="fecharModal()" routerLink="/lista">Ir para cards</button>
  </div>
</div>
